:root {
    --dc: hsl(185, 75%, 39%);
    --vddb: hsl(229, 23%, 23%);
    --dgb: hsl(227, 10%, 46%);
    --dg: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-color: var(--dc);
  background-position: -800% -31%, 800% 110%;
  background-size: 30rem, 30rem;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 22rem;
  height: 24rem;
  background-color: #FFF;
  border-radius: 1rem;
  position: relative;
}
#card-bg {
    background-image: url(images/bg-pattern-card.svg);
    height: 9rem;
    position: relative;
    border-radius: 1rem 1rem 0 0;
}
#img-div {
    width: 7rem;
    height: 7rem;
    border: 0.2rem solid #FFF;
    border-radius: 50%;
    position: absolute;
    background-color: #FFF;
    top: 5.5rem;
    left: 50%;
    transform: translate(-50%)
}
#img-div img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
#content{
    width: 80%;
    margin: 5rem auto 0; 
}
#profile-info {
    
    text-align: center;
}
#profile-info h1 {
    font-size: 1.15rem;
}
#profile-info h1 span {
    color: var(--dg);
    font-weight: 400;
    display: inline-block;
    margin-left: 0.3rem;
}
#profile-info p {
    color: var(--dg);
    font-size: 1rem;
    margin-top: 0.3rem; 
}
#stats-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2.7rem;
}
#horizontal-line {
    width: 100%;
    height: 0.01rem;
    background-color: var(--dg);
    position: absolute;
    left: 0;
    bottom: 5.8rem;
    opacity: 0.5;
    
}
.stats {
    text-align: center;
}
.stats p:first-child {
    font-weight: 700;
}
.stats p:last-child {
    color: var(--dg);
    font-size: 0.8rem;
}

@media only screen and (min-width: 1440px) {
  body {
    background-position: -170% 170%, 170% -150%;
    background-size: 85rem, 85rem;
  }  
}